.tumbnails {
  height: 220px;
  border-radius: 8px;
}
.profile {
  width: 38px;
  height: 34px;
}
.user-date {
  font-size: 12px;
  color: #999;
}
.shorts {
  width: 100%;
  height: 300px;
  background-size: cover;
  border-radius: 8px;
}
.button {
  height: 40px;
  width: 100%;
}
.search {
  width: 35vw !important;
  border-radius: 20px 0px 0px 20px;
}
.search-button {
  border-radius: 0px 20px 20px 0px;
}
.hidden-text {
  display: -webkit-box;
  -webkit-line-clamp: 2; /* Number of lines to show */
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.video-time {
  background-color: #000000ba !important;
  font-size: 12px;
  padding: 2px;
  bottom: 10px;
  right: 4px;
  width: 35px;
}
.watchingnow{
  bottom:15px;
  right: 15px;
  height:240px;
  width: 330px;
  border-radius: 10px;
}
.asuka{
  background-image: url(https://i.pinimg.com/736x/1c/b8/53/1cb853f768e4c0f7a0955e5f4bd86327.jpg);
  background-size: cover;
  background-position: center;
}
.line {
  height: 4px;
}